<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContUsuarios</servlet-name>
        <servlet-class>Controlador.ContUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBebidas</servlet-name>
        <servlet-class>Controlador.ControladorBebidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>Controlador.ControladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarta</servlet-name>
        <servlet-class>Controlador.ControladorCarta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCerrar</servlet-name>
        <servlet-class>Controlador.ControladorCerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCrearCuenta</servlet-name>
        <servlet-class>Controlador.ControladorCrearCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetallePedido</servlet-name>
        <servlet-class>Controlador.ControladorDetallePedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIndex</servlet-name>
        <servlet-class>Controlador.ControladorIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInfo</servlet-name>
        <servlet-class>Controlador.ControladorInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>Controlador.ControladorPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedidosPropio</servlet-name>
        <servlet-class>Controlador.ControladorPedidosPropio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProduc</servlet-name>
        <servlet-class>Controlador.ControladorProduc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>Controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContUsuarios</servlet-name>
        <url-pattern>/ContUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBebidas</servlet-name>
        <url-pattern>/ControladorBebidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/ControladorCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarta</servlet-name>
        <url-pattern>/ControladorCarta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCerrar</servlet-name>
        <url-pattern>/ControladorCerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCrearCuenta</servlet-name>
        <url-pattern>/ControladorCrearCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetallePedido</servlet-name>
        <url-pattern>/ControladorDetallePedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIndex</servlet-name>
        <url-pattern>/ControladorIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInfo</servlet-name>
        <url-pattern>/ControladorInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedidosPropio</servlet-name>
        <url-pattern>/ControladorPedidosPropio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProduc</servlet-name>
        <url-pattern>/ControladorProduc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
